@media (min-width: 320px) and (max-width: 767px) {
  .about-us {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about-title {
    flex-direction: column;
    gap: 0;
  }

  .about-title_name {
    font-size: 70px;
  }

  .mainBlock_container {
    padding: 30px 0;
  }

  .about-text {
    padding: 0 10px;
    font-size: 16px;
  }

  .about-text p {
    width: 100%;
  }

  .about-img {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .info_service_img {
    margin-top: 30px;
  }

  .info_service_img img {
    width: 100%;
  }

  .about-title_line4 {
    display: none;
  }

  .galery_imgs__img {
    width: 100%;
  }

  .action-box {
    /* display: none; */
  }

  .bottomMenu {
    width: 100%;
  }

  .bottomMenu nav {
    width: 100%;
    border: none;
    flex-direction: column;
  }

  .bottomMenu nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .shares-card {
    width: 100%;
  }

  .services-1 {
    flex-direction: column;
    padding: 0 10px;
  }

  .tab-content.active {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    padding: 0 10px;
  }

  .about-title_line2 {
    display: none;
  }

  .services-box {
    gap: 0;
    width: 100%;
  }

  .services nav {
    flex-direction: row;
    padding: 0;
    border: none;
  }

  .info {
    padding-top: 10px;
    gap: 10px;
    flex-direction: column;
  }

  /*Конец*/
  .text h1 {
    font-size: 60px;
  }

  .text h2 {
    text-align: center;
    font-size: 20px;
  }

  .text p {
    text-align: center;
    font-size: 16px;
  }

  .mainPageNav nav ul {
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 5px;
  }

  .mainPageNav nav ul li a {
    font-size: 20px;
  }

  .info-service {
    padding: 0;
  }

  .navbar-box {
    width: 100%;
  }

  .navbar-box nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .navbar-box nav {
    border: none;
  }

  .services {
    display: flex;
    justify-content: center;
  }

  .service-block {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
  }

  .container {
    gap: 0;
    padding-top: 5px;
  }

  .container h1 {
    font-size: 60px;
  }

  .service-title {
    align-items: center;
  }

  .text-service {
    gap: 10px;
  }

  .img_service {
    width: 100%;
    padding: 0 10px;
    height: auto;
  }

  .rightRadius {
    border-top-right-radius: 0;
  }

  .leftRadius {
    border-bottom-left-radius: 0;
  }

  .img_service img {
    height: auto;
  }

  .filter-box ul {
    gap: 10px;
    flex-direction: column;
  }

  .card-list {
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
  }

  .card {
    margin: 0 20px;
    min-width: 200px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about-us {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .about-title {
    flex-direction: column;
    gap: 0;
  }

  .services img {
    width: 400px;
  }

  .about-title_name {
    font-size: 70px;
  }

  .mainBlock_container {
    padding: 30px 0;
  }

  .about-text {
    padding: 0 10px;
    font-size: 16px;
  }

  .about-text p {
    width: 100%;
  }

  .about-img {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .info_service_img {
    justify-content: center;
    margin-top: 30px;
  }

  /*Начало */
  .about-title_line4 {
    display: none;
  }

  .galery_imgs__img {
    /* width: 100%; */
    min-width: 300px;
    width: 45%;
  }

  .action-box {
    /* display: none; */
  }

  .bottomMenu {
    width: 100%;
  }

  .bottomMenu nav {
    width: 100%;
    border: none;
    flex-direction: column;
  }

  .bottomMenu nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .shares-card {
    width: 100%;
  }

  .services-1 {
    /*flex-direction: column;*/
    padding: 0 10px;
  }

  .tab-content.active {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    padding: 0 10px;
  }

  .about-title_line2 {
    display: none;
  }

  .services-box {
    gap: 0;
    width: 100%;
    align-items: center;
  }

  .services nav {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    border: none;
    gap: 0;
  }

  .info-service h2 {
    font-size: 30px;
  }

  .info {
    padding-top: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .text h1 {
    font-size: 90px;
  }

  .text h2 {
    text-align: center;
    font-size: 40px;
  }

  .text p {
    text-align: center;
    font-size: 26px;
  }

  .mainPageNav nav ul {
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 5px;
  }

  .mainPageNav nav ul li a {
    font-size: 20px;
  }

  .info-service {
    align-items: center;
    gap: 5px;
  }

  .services {
    display: flex;
    justify-content: center;
  }

  .service-block {
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    gap: 10px;
    align-items: center;
  }

  .container {
    gap: 0;
    /* padding: 20px; */
  }

  .container h1 {
    font-size: 60px;
  }

  .service-title {
    align-items: center;
  }

  .text-service {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    align-items: center;
  }

  .img_service {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  .rightRadius {
    border-top-right-radius: 0;
  }

  .leftRadius {
    border-bottom-left-radius: 0;
  }

  .img_service img {
    height: auto;
  }

  .navbar-box {
    width: 100%;
  }

  .navbar-box nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .navbar-box nav {
    border: none;
  }

  .filter-box {
    width: 100%;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .filter-box ul {
    flex-direction: column;
    gap: 10px;
  }

  .filter-box ul li {
    text-align: center;
    font-size: 16px;
  }

  .services nav ul li {
    gap: 30px;
  }

  .services nav ul li a {
    width: 100px;
    font-size: 18px;
  }

  .services nav {
    padding-top: 30px;
  }
  .feedback-box {
    justify-content: flex-start;
  }
  .imgCont {
    /* justify-content: flex-start; */
  }
  .card-list {
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
  }

  .card {
    min-width: 200px;
    width: 45%;
  }
}
